@font-face {

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(3, 3, 122);
}

.title {
    text-align: center;
}

.game-info {
    grid-column: 1 / -1;
    display: flex;
}

.match-game {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 1000px;
}

.card {
    position: relative;
    height: 200px;
    width: 150px;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    overflow: hidden;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-side,
.back-side {
    height: 100%;
    width: 100%;
    position: absolute;
}

.front-side {
    transform: rotateY(180deg);
}

.back-side {
}